body {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.bookmark {
    background-color: yellow;
    padding: 6px 12px;
    color: blue;
}

.bookmark:hover {
    background-color: #e2a7aa;
}
