body {
  font-family: Arial;
  background-color: #fff;
}

h2 a {
  color: burlywood;
  text-decoration: underline;
}

h3 {
  color: #333;
}

ul {
  padding-left: 20px;
}

.pancake-img {
    display: block;
    width: 200px;    
    height: 100px;
}
