body {
    background-color: #fff7e6;
    font-family: Arial;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #f15a24; 
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
}

h2 {
    background-color: #cce6ff; 
    color: #3366cc;
    padding: 10px;
    font-weight: bold;
    border-left: 6px solid #3366cc;

}

p {
    font-style: italic;
}

ol, ul {
    background-color: #f0f4fa; 
    padding: 15px 25px;
}

li {
    margin-bottom: 10px;
}
ol li strong,
ul li strong {
    color: #f15a24;
    font-weight: bold;
}